/* Tag Selectors */

body {
	color: #333333;
	background-color: #bde9e8;
}

#centerDoc {
	position: absolute;
	z-index: 15;
	padding: 0 0 20px;  /*top right bottom left*/
	margin-top: 50px;
	margin-left: 235px;
	width: 80%;
	top: 0;
	max-width: 1000px;
	max-height: 500px;
}


ul li {
	list-style-type: circle;
	line-height: 200%;
	font-family: "Lucida Console", monospace;
	list-style: none;
}


ol li {
	list-style-type: numbers;
	line-height: 180%;
	width: 80%;
	font-family: "Lucida Console", monospace;
	font-size: 16px;
}

nav {
	background-color: #476cbb;
	color: white;
	z-index: 10;
	width: 210px;
	height: 60vw;
	margin: 0;
	border-right: 2px solid darkgrey;
}

nav a {
	text-decoration: none;
	color: #e4dfdd;
	font-family: "Lucida Console", monospace;
	font-size: 18px;
}

footer {
	font-family: "Lucida Console", monospace;
	background-color: #476cbb;
	height: 4vw;
	color: #e4dfdd;
}

footer a {
	font-family: 'Shadows Into Light', cursive;
	font-weight: 700;
	font-size: 2vw;
	text-decoration: none;
	color: #e4dfdd;
}



